---
layout: default
styles: /assets/cv.css
title: Alexey Nikitin's CV
description: "Alexey Nikitin - Senior Android Devoper"
image: https://gravatar.com/avatar/330d92532a060be3bb43758770067089
tags:
  - cv
  - Alexey Nikitin CV
  - Android Developer CV
  - Developer CV
---

<div class="cv-content">

  <div class="left-column">

    <div class="block">
      <p class="title">Position</p>
      <p>Senior Android Developer</p>
    </div>

    <div class="block">
      <p class="title">Experience</p>
      <p>
        <span class="bio-title">
          <span>Mail.Ru</span>
          <span>02/2019 - present</span>
        </span>
        Senior Android Developer at ICQ<br>
        <span class="work-activity">Develop and maintain <a href="https://play.google.com/store/apps/details?id=com.icq.mobile.client">ICQ for Android</a></span><br>

        <span class="bio-title">
          <span>Siberian.Pro</span>
          <span>05/2018 - 01/2019</span>
        </span>
        Senior Android Developer<br>
        <span class="work-activity">Develop and maintain <a href="https://play.google.com/store/apps/details?id=com.switips.mobileapp">SWITIPS - Cashback service app</a></span><br>
        <span class="work-activity">Develop and maintain <a href="https://www.exoatlet.com/en">Exoatlet - Exoskeleton manipulation app</a></span><br>

        <span class="bio-title">
          <span>Modulkassa</span>
          <span>04/2017 - 05/2018</span>
        </span>
        Senior Android Developer<br>
        <span class="work-activity">Develop and maintain <a href="https://play.google.com/store/apps/details?id=ru.modulkassa.android.apps.pos">Modulkassa - app for point of sale</a></span><br>
        <span class="work-activity">Started writing the blog and Open Source projects</span><br>

        <span class="bio-title">
          <span>SberTech</span>
          <span>08/2016 - 04/2015</span>
        </span>
        Java Developer<br>
        <span class="work-activity">Got the experience of writing enterprise applications in a pretty big company</span><br>


        <span class="bio-title">
          <span>Freematiq</span>
          <span>12/2015 - 08/2016</span>
        </span>
        Junior Android Developer<br>
        <span class="work-activity">Develop and maintain <a href="https://play.google.com/store/apps/details?id=com.iretail.app">iRetail - app for point of sale</a></span><br>
        <span class="work-activity">Grew up from Junior to Middle developer</span><br>
      </p>
    </div>

    <div class="block">
      <p class="title">Talks</p>

      <p>
        <span class="bio-title">
          <span>[DEV] Digital Meetup #4</span>
          <span>04/2019</span>
        </span>
        <a href="https://youtu.be/wjGA4xkuhcM">Unit-testing: Mocks VS Fakes (in Russian)</a>
      </p>

      <p>
        <span class="bio-title">
          <span>Siberian.Pro talks</span>
          <span>12/2018</span>
        </span>
        <a href="https://youtu.be/KNrc-XcL9ys">Static Analysis: How to make it work (in Russian)</a>
      </p>

      <p>
        <span class="bio-title">
          <span>Siberian.Pro talks</span>
          <span>12/2018</span>
        </span>
        <a href="https://youtu.be/3yjxb2S1f8I">Optimize development process (in Russian)</a>
      </p>
    </div>

    <div class="block">
      <p class="title">Education</p>
      <p>
        <span class="bio-title">
          <span>ASTU</span>
          <span>2011 - 2015</span>
        </span>
        Bachelor's degree, <a href="https://www.altstu.ru/sveden/oop/0531/description/">Faculty of Information Technologies, Program Engineering</a><br>
        GPA: 4.85 out of 5.00
      </p>
    </div>

    <div class="block">
      <p class="title">Open projects</p>

      <p>
        <span class="bio-title">
          <span>PorFlavor</span>
          <span>2019</span>
        </span>
        <a href="https://github.com/nikialeksey/porflavor">PorFlavor</a> is the gradle plugin for extending android productFlavors.<br>

        <span class="bio-title">
          <span>Nullfree</span>
          <span>2019</span>
        </span>
        <a href="https://iwillfailyou.com/nullfree">Nullfree</a> will fail your build if your project has a null.<br>

        <span class="bio-title">
          <span>Arspell</span>
          <span>2018</span>
        </span>
        <a href="https://github.com/nikialeksey/arspell">Arspell</a> is resources spell testing library.<br>
      </p>
    </div>

    <div class="block">
      <p class="title">Achievements</p>

      <p>
        <span class="bio-title">
          <span>Winner (1st place)</span>
          <span>2015</span>
        </span>
        <a href="http://neerc.secna.ru/ALTAI_U/2015/monitor/monitor.htm">Altai Universiade - 2015.</a> <a href="http://neerc.secna.ru/ALTAI_U/index.php">What is Altai Universiade?</a>

        <span class="bio-title">
          <span>Winner (2nd place)</span>
          <span>2015</span>
        </span>
        <a href="https://world-it-planet.org/board/index.php?YEAR=2014/15&TAB=0">IT Planet: Programming: Java.</a> <a href="https://world-it-planet.org/">What is IT-Planet?</a>

        <span class="bio-title">
          <span>President scholarship</span>
          <span>2014</span>
        </span>
        <a href="https://www.altstu.ru/structure/chair/pm/news/7767/">President scholarship.</a>

        <span class="bio-title">
          <span>Winner (2nd place)</span>
          <span>2013</span>
        </span>
        <a href="http://neerc.secna.ru/2013/ws_2013.htm">ACM ICPC 2013 West Siberian.</a> <a href="https://icpc.baylor.edu/">What is ACM ICPC?</a>

      </p>

      <a href="https://stackexchange.com/users/4175633">
        <img src="https://stackexchange.com/users/flair/4175633.png"
             width="208" height="58"
             alt="Профиль участника nikialeksey в Stack Exchange, сети бесплатных сайтов вопросов и ответов, управляемых сообществом"
             title="Профиль участника nikialeksey в Stack Exchange, сети бесплатных сайтов вопросов и ответов, управляемых сообществом">
      </a>
    </div>

  </div>

  <div class="right-column">
    <div class="block">
      <p class="title">Contacts</p>
      <p>
        <span class="enum-prefix">Phone:</span> <a href="tel:+79132536769">+7(913) 253 67-69</a><br>
        <span class="enum-prefix">Email:</span> <a href="mailto:nikialeksey@gmail.com">nikialeksey@gmail.com</a><br>
        {% if site.github_username %}
        <span class="enum-prefix">Github:</span> <a href="https://github.com/{{ site.github_username | cgi_escape | escape }}">{{ site.github_username }}</a><br>
        {% endif %}
        {% if site.twitter_username %}
        <span class="enum-prefix">Twitter:</span> <a href="https://www.twitter.com/{{ site.twitter_username | cgi_escape | escape }}">{{ site.twitter_username }}</a><br>
        {% endif %}
        {% if site.linkedin_username %}
        <span class="enum-prefix">LinkedIn:</span> <a href="https://www.linkedin.com/in/{{ site.linkedin_username | cgi_escape | escape }}">{{ site.linkedin_username }}</a><br>
        {% endif %}
        <img src="{{ page.image }}" alt="Alexey Nikitin's photo"/>
      </p>
    </div>

    <div class="block">
      <p class="title">About me</p>
      <p>
        I'm the one who better writes scalable, maintainable, inappropriate algorithm than optimal but not readable.
        A code maintainability is always prioritized over those of his efficiency.
      </p>
    </div>

    <div class="block">
      <p class="title">Languages</p>
      <p>
        <span class="enum-title">Russian</span> mother tongue<br>
        <span class="enum-title">English</span> Pre-Intermediate<br>
      </p>
    </div>

    <div class="block">
      <p class="title">Skills</p>
      <p>
        <span class="enum-title">Java</span> primary language<br>
        <span class="enum-title">Android</span> SDK, RxJava, Room, Kotlin, Moxy, Material<br>
        <span class="enum-title">Git</span> rebase, cherry-pick, unsquash commits<br>
      </p>
    </div>

    <div class="block">
      <p class="title">Hobby</p>
      <p>
        <span class="enum-title">Programming</span> is my hobby and job<br>
        <span class="enum-title">Singing</span> makes me happy<br>
      </p>
    </div>
  </div>

</div>