{% assign strings = site.data.cv %}
<div class="cv-content">

  <div class="left-column">
    <div class="block">
      <p class="title">{{ strings.aboutMeTitle[page.lang] }}</p>
      <p style="display: flex;">
        <img src="{{ page.image }}" alt="Profile avatar" style="width: 140px; height: 140px; margin-right: 8px">
        {{ strings.aboutMe[page.lang] }}
      </p>
      <p>
        {{ strings.personalType[page.lang] }}
      </p>
    </div>

    <div class="block experience">
      <p class="title">{{ strings.experienceTitle[page.lang] }}</p>
      <p>
        <span class="bio-title">
          <span>Intermedia</span>
          <span>11/2020 - {{strings.present[page.lang]}}</span>
        </span>
        {{ strings.workActivity.intermedia.position[page.lang] }}<br>
        <span class="work-activity">{{ strings.workActivity.intermedia.unite.description[page.lang] }}
          <a href="https://play.google.com/store/apps/details?id=net.intermedia.mobile_callscape">{{ strings.workActivity.intermedia.unite.appTitle[page.lang] }}</a>
        </span><br>
        <span class="work-activity">{{ strings.workActivity.intermedia.unite.goal1[page.lang]}}</span><br>
        <span class="work-activity">{{ strings.workActivity.intermedia.unite.goal2[page.lang]}}</span><br>
        <span class="work-activity">{{ strings.workActivity.intermedia.unite.goal3[page.lang]}}</span><br>
        <span class="work-activity">{{ strings.workActivity.intermedia.goal1[page.lang]}}
          <a href="https://intermedia-net.github.io">{{strings.workActivity.intermedia.goal1Title[page.lang]}}</a>
        </span><br>

        <span class="bio-title">
          <span>Mail.Ru</span>
          <span>02/2019 - 09/2020</span>
        </span>
        {{ strings.workActivity.mailRu.position[page.lang] }}<br>
        <span class="work-activity">{{ strings.workActivity.mailRu.icq.description[page.lang] }}
          <a href="https://play.google.com/store/apps/details?id=com.icq.mobile.client">{{ strings.workActivity.mailRu.icq.appTitle[page.lang] }}</a>
        </span><br>
        <span class="work-activity">{{ strings.workActivity.mailRu.icq.goal1[page.lang]}}</span><br>
        <span class="work-activity">{{ strings.workActivity.mailRu.icq.goal2[page.lang]}}
          <a href="https://github.com/mail-ru-im/bot-java">{{strings.workActivity.mailRu.icq.goal2Title[page.lang]}}</a>
        </span><br>

        <span class="bio-title">
          <span>Siberian.Pro</span>
          <span>05/2018 - 01/2019</span>
        </span>
        {{ strings.workActivity.siberianPro.position[page.lang] }}<br>
        <span class="work-activity">{{ strings.workActivity.siberianPro.switips.description[page.lang] }}
          <a href="https://play.google.com/store/apps/details?id=com.switips.mobileapp">{{ strings.workActivity.siberianPro.switips.appTitle[page.lang] }}</a>
        </span><br>
        <span class="work-activity">{{ strings.workActivity.siberianPro.exoatlet.description[page.lang] }}
          <a href="https://www.exoatlet.com/en">{{ strings.workActivity.siberianPro.exoatlet.appTitle[page.lang] }}</a>
        </span><br>
        <span class="work-activity">{{ strings.workActivity.siberianPro.goal1[page.lang]}}</span><br>

        <span class="bio-title">
          <span>Modulkassa</span>
          <span>04/2017 - 05/2018</span>
        </span>
        {{ strings.workActivity.modulkassa.position[page.lang] }}<br>
        <span class="work-activity">{{ strings.workActivity.modulkassa.modulkassa.description[page.lang] }}
          <a href="https://play.google.com/store/apps/details?id=ru.modulkassa.android.apps.pos">{{ strings.workActivity.modulkassa.modulkassa.appTitle[page.lang] }}</a>
        </span><br>
        <span class="work-activity">{{ strings.workActivity.modulkassa.modulkassa.goal1[page.lang]}}</span><br>
        <span class="work-activity">{{ strings.workActivity.modulkassa.modulkassa.goal2[page.lang]}}</span><br>
        <span class="work-activity">{{ strings.workActivity.modulkassa.opensource.description[page.lang] }}</span><br>

        <span class="bio-title">
          <span>SberTech</span>
          <span>08/2016 - 04/2017</span>
        </span>
        {{ strings.workActivity.sbertech.position[page.lang] }}<br>
        <span class="work-activity">{{ strings.workActivity.sbertech.project.description[page.lang] }}</span><br>


        <span class="bio-title">
          <span>Freematiq</span>
          <span>12/2015 - 08/2016</span>
        </span>
        {{ strings.workActivity.freematiq.position[page.lang] }}<br>
        <span class="work-activity">{{ strings.workActivity.freematiq.iretail.description[page.lang] }}
          <a href="https://play.google.com/store/apps/details?id=com.iretail.app">{{ strings.workActivity.freematiq.iretail.appTitle[page.lang] }}</a></span><br>
        <span class="work-activity">{{ strings.workActivity.freematiq.progress.description[page.lang] }}</span><br>
      </p>
    </div>

    <div class="block talks">
      <p class="title">{{ strings.talks.title[page.lang] }}</p>

      <p>
        <span class="bio-title">
          <span>[DEV] Digital Meetup #4</span>
          <span>04/2019</span>
        </span>
        <a href="https://youtu.be/wjGA4xkuhcM">{{ strings.talks.mocksVsFakes[page.lang] }}</a>
      </p>

      <p>
        <span class="bio-title">
          <span>Siberian.Pro talks</span>
          <span>12/2018</span>
        </span>
        <a href="https://youtu.be/KNrc-XcL9ys">{{ strings.talks.staticAnalyser[page.lang] }}</a>
      </p>

      <p>
        <span class="bio-title">
          <span>Siberian.Pro talks</span>
          <span>12/2018</span>
        </span>
        <a href="https://youtu.be/3yjxb2S1f8I">{{ strings.talks.optimizeDevProcess[page.lang] }}</a>
      </p>
    </div>

    <div class="block publications">
      <p class="title">{{ strings.publications.title[page.lang] }}</p>

      <p>
        <span class="bio-title">
          <span>Habr</span>
          <span>08/2022</span>
        </span>
        <a href="https://habr.com/ru/post/677264/">{{ strings.publications.stacktraceErrorFromProduction[page.lang] }}</a>
      </p>

      <p>
        <span class="bio-title">
          <span>Intermedia tech blog</span>
          <span>08/2022</span>
        </span>
        <a href="https://medium.com/intermedia-tech-blog/chasing-the-wrong-android-app-stacktrace-in-crashlytics-41076553dac9">{{ strings.publications.incorrectStacktrace[page.lang] }}</a>
      </p>

      <p>
        <span class="bio-title">
          <span>Habr</span>
          <span>01/2022</span>
        </span>
        <a href="https://habr.com/ru/post/599429/">{{ strings.publications.howToTestGradlePlugins[page.lang] }}</a>
      </p>

      <p>
        <span class="bio-title">
          <span>Intermedia tech blog</span>
          <span>11/2021</span>
        </span>
        <a href="https://intermedia-net.github.io/android/mobile/translations/">{{ strings.publications.translationsPart1[page.lang] }}</a>
      </p>

      <p>
        <span class="bio-title">
          <span>Intermedia tech blog</span>
          <span>11/2021</span>
        </span>
        <a href="https://intermedia-net.github.io/android/mobile/printcoverage/">{{ strings.publications.printcoverage[page.lang] }}</a>
      </p>

      <p>
        <span class="bio-title">
          <span>Intermedia tech blog</span>
          <span>06/2021</span>
        </span>
        <a href="https://intermedia-net.github.io/android/mobile/webrtc-buildscript/">{{ strings.publications.webrtcBuildscript[page.lang] }}</a>
      </p>
    </div>

    <div class="block projects">
      <p class="title">{{ strings.personalProjectsTitle[page.lang] }}</p>

      <p>
        <span class="bio-title">
          <span>Translations <img src="https://img.shields.io/github/stars/intermedia-net/translations?style=social"></span>
          <span>2021</span>
        </span>
        <a href="https://github.com/intermedia-net/translations">Translations gradle plugin</a>  automates work with lokalise translations in Android application sources.

        <span class="bio-title">
          <span>jpkgchanger <img src="https://img.shields.io/github/stars/intermedia-net/jpkgchanger?style=social"/></span>
          <span>2021</span>
        </span>
        Change java project package name easily with CLI tool <a href="https://github.com/intermedia-net/jpkgchanger">jpkgchanger!</a>

        <span class="bio-title">
          <span>Youshallnotpass <img src="https://img.shields.io/github/stars/youshallnotpass-dev/service?style=social"/></span>
          <span>2020</span>
        </span>
        <a href="https://youshallnotpass.dev">Youshallnotpass</a> is a static analyser. Not elegant code shall not pass! ⚔️🧙‍♂️<br>

        <span class="bio-title">
          <span>Jood <img src="https://img.shields.io/github/stars/nikialeksey/jood?style=social"/></span>
          <span>2020</span>
        </span>
        <a href="https://github.com/nikialeksey/jood">Jood</a> is an object oriented sql-database library written in Java.<br>

        <span class="bio-title">
          <span>PorFlavor <img src="https://img.shields.io/github/stars/nikialeksey/porflavor?style=social"/></span>
          <span>2019</span>
        </span>
        <a href="https://github.com/nikialeksey/porflavor">PorFlavor</a> is a gradle plugin for extending android productFlavors.<br>

        <span class="bio-title">
          <span>Nullfree <img src="https://img.shields.io/github/stars/nikialeksey/nullfree?style=social"/></span>
          <span>2019</span>
        </span>
        <a href="https://github.com/nikialeksey/nullfree/">Nullfree</a> will fail your build if your project has a null.<br>

        <span class="bio-title">
          <span>Arspell <img src="https://img.shields.io/github/stars/nikialeksey/arspell?style=social"/></span>
          <span>2018</span>
        </span>
        <a href="https://github.com/nikialeksey/arspell">Arspell</a> is a resources spell testing library.<br>
      </p>
    </div>

    <div class="block achievements">
      <p class="title">{{ strings.achievementsTitle[page.lang] }}</p>

      <p>
        <span class="bio-title">
          <span>{{ strings.achievements.altaiUniversiade.title[page.lang] }}</span>
          <span>2015</span>
        </span>
        <a href="https://web.archive.org/web/20200128181134/http://neerc.secna.ru/ALTAI_U/2015/monitor/monitor.htm">{{ strings.achievements.altaiUniversiade.description[page.lang] }}</a>
        <a href="https://web.archive.org/web/20160121082301/http://neerc.secna.ru/ALTAI_U/index.php">{{ strings.achievements.altaiUniversiade.whatIs[page.lang] }}</a>

        <span class="bio-title">
          <span>{{ strings.achievements.itPlanet.title[page.lang] }}</span>
          <span>2015</span>
        </span>
        <a href="https://web.archive.org/web/20161113073001/https://world-it-planet.org/board/index.php?YEAR=2014/15&TAB=0">{{ strings.achievements.itPlanet.description[page.lang] }}</a>
        <a href="https://world-it-planet.org/">{{ strings.achievements.itPlanet.whatIs[page.lang] }}</a>

        <span class="bio-title">
          <span>{{ strings.achievements.scholarship.title[page.lang] }}</span>
          <span>2014</span>
        </span>
        <a href="https://web.archive.org/web/20190430043931/https://www.altstu.ru/structure/chair/pm/news/7767/">{{ strings.achievements.scholarship.description[page.lang] }}</a>

        <span class="bio-title">
          <span>{{ strings.achievements.acmIcpc.title[page.lang] }}</span>
          <span>2013</span>
        </span>
        <a href="https://web.archive.org/web/20180918124629/http://neerc.secna.ru/2013/ws_2013.htm">{{ strings.achievements.acmIcpc.description[page.lang] }}</a>
        <a href="https://icpc.global/">{{ strings.achievements.acmIcpc.whatIs[page.lang] }}</a>

      </p>
    </div>

    <div class="block education">
      <p class="title">{{ strings.education.title[page.lang] }}</p>
      <p>
        <span class="bio-title">
          <span>{{ strings.education.astu.title[page.lang] }}</span>
          <span>2011 - 2015</span>
        </span>
        {{ strings.education.astu.degree[page.lang] }},
        <a href="https://www.altstu.ru/sveden/oop/0531/description/">{{ strings.education.astu.faculty[page.lang] }}</a><br>
        {{ strings.education.astu.gpa[page.lang] }}
      </p>
    </div>

  </div>

  <div class="right-column">
    <div class="block">
      <p class="title">{{ strings.contactsTitle[page.lang] }}</p>
      <p>
        <span class="enum-prefix">Telegram:</span> <a href="https://telegram.me/nikialeksey">nikialeksey</a><br>
        <span class="enum-prefix">Email:</span> <a href="mailto:nikialeksey@gmail.com">nikialeksey@gmail.com</a><br>
        {% if site.github_username %}
        <span class="enum-prefix">Github:</span> <a
          href="https://github.com/{{ site.github_username | cgi_escape | escape }}">{{ site.github_username }}</a><br>
        {% endif %}
        {% if site.twitter_username %}
        <span class="enum-prefix">Twitter:</span> <a
          href="https://www.twitter.com/{{ site.twitter_username | cgi_escape | escape }}">{{ site.twitter_username }}</a><br>
        {% endif %}
        {% if site.linkedin_username %}
        <span class="enum-prefix">LinkedIn:</span> <a
          href="https://www.linkedin.com/in/{{ site.linkedin_username | cgi_escape | escape }}">{{ site.linkedin_username }}</a><br>
        {% endif %}
        <a href="https://stackexchange.com/users/4175633">
          <img src="https://stackexchange.com/users/flair/4175633.png"
               width="208" height="58"
               alt="{{ strings.stackexchangeProfileTitle[page.lang] }}"
               title="{{ strings.stackexchangeProfileTitle[page.lang] }}">
        </a>
      </p>
    </div>

    <div class="block">
      <p class="title">{{ strings.languagesTitle[page.lang] }}</p>
      <p>
        <span class="enum-title">{{ strings.languages.russian.title[page.lang] }}</span> {{ strings.languages.russian.level[page.lang] }}<br>
        <span class="enum-title">{{ strings.languages.english.title[page.lang] }}</span> {{ strings.languages.english.level[page.lang] }}<br>
      </p>
    </div>

    <div class="block">
      <p class="title">{{ strings.skillsTitle[page.lang] }}</p>
      <p>
        <span class="enum-title">Java</span> primary language<br>
        <span class="enum-title">Kotlin</span> primary language<br>
        <span class="enum-title">Python </span> secondary language<br>
        <span class="enum-title">Android</span> Coroutines, RxJava, Room,
        SQLite, Clean Architecture, MVP/MVI/MVVM, Compose+Material3,
        Gradle Plugins, Kotlin Multiplatform, UiAutomator, Espresso,
        jUnit, Mockito, Robolectric<br>
        <span class="enum-title">CI/CD</span> build automate, GitHub CI,
        Gitlab CI, TeamCity, Jenkins, Docker, Maven Repository<br>
      </p>
    </div>

    <div class="block">
      <p class="title">{{ strings.hobbyTitle[page.lang] }}</p>
      <p>
        <span class="enum-title">{{ strings.hobby.programming.title[page.lang] }}</span> {{ strings.hobby.programming.is[page.lang] }}<br>
        <span class="enum-title">{{ strings.hobby.singing.title[page.lang] }}</span> {{ strings.hobby.singing.is[page.lang] }}<br>
      </p>
    </div>
  </div>

</div>