@charset "utf-8";

// Define defaults for each variable.

@import "minima/colors";
@import "minima/fonts";
@import "minima/sizes";

$post-font-size: 20px;
$post-font-color: $text-color;

$table-text-align: left !default;

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting",
  "minima/forms"
;