@charset "utf-8";

// Define defaults for each variable.

@import "minima/colors";
@import "minima/sizes";

$post-font-family: 'Roboto Slab', serif;
$post-font-size: 20px;
$post-font-color: $grey-color-dark;
$code-font-family: 'Anonymous Pro', monospace;

$table-text-align: left !default;

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting",
  "minima/forms"
;